PORT=<your_port_here>
NODE_ENV=development

MONGO_URI=<your_mongodb_uri_here>

JWT_SECRET=<your_jwt_secret_here>
JWT_EXPIRE=<your_jwt_expire_time_here>
JWT_COOKIE_EXPIRE=<your_jwt_cookie_expire_time_here>